
 
<!DOCTYPE html>
<html>
<head>
<title> Asim Ahmed Page </title>
</head>


<body>
<p> Hi! I am <b><em>Asim</em></b> <br>


<a href="/blogs"> Lets start a blog here </a> ... <br>
<a href="/chat"> Chat with me </a> <br>
<a href="/testform"> Test this </a> ... <br>

<em>Look at me while I am 10 with a live dragon and a beard. </em> <br>
<img src="./images/mik_041912.jpg" HEIGHT="200" WIDTH="140" BORDER=0 alt="where's my picture 1">
<br>

Look at me when I was 4 some years old <br>
<img src="./images/mik.jpg"  HEIGHT="200" WIDTH="140" BORDER=0 >

{% if name %}
<h1>Hello World and {{ name }}</h1>
{% else %}
<h1>Hello World and ,,, </h1>
{% endif %}

</p>
</body>

 
</html>
 
 
